:root{
    --point-color:#286abd;
    --font-bold:800;
    --font-minbold:700;
    --font-regular:400;
    --font-light:100;
    /* 서브비주얼 옵션 */
    --sub-title-font-size:22px;
    --sub-title-color:#929292;
    --mein-title-font-size:55px;
    --basic-font-size:16.5px;
    --basic-font-color: #333;
    --subvisual-margin-top:10px;
    --subvisual-margin-bottom:70px;
    --subvisual-line-height:35px;
}
.sub__title_style{
    font-size : var(--sub-title-font-size);
    font-weight: var(--font-light);
    color: var(--sub-title-color);
}
.main__title_style{
    font-size: var(--mein-title-font-size);
    font-weight: var(--font-bold);
    color: var(--point-color);
}
.basic__style{
    font-size: var(--basic-font-size);
    font-weight: var(--font-light);
    color: var(--basic-font-color);
}
/* 헤더 시작 */
/*{display / position / width / height / font / layout}*/
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    z-index: 1;    
}
.global__header{
    height: 85px;
    transition: all 0.5s;
}
.global__header.on{
    height: 65px;
}
.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.nav__global{
    width: 45%;
}
.global__wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
}
.global__wrap li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.global__wrap li:not(.last){
    margin-right:50px;
}
.header__menu{
    display: flex;
    width: 170px;
    height: 100%;
}
.menu__option{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 100%;
}
.header__menu--search{
    background-color: #286abd;
}
.header__menu--search i{
    color: #ffffff;
}

/* 메인비주얼 */
.mainvisual{
    position: relative;
}
.mainvisual .mainvisual__cont{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image : url('../imgs/main_visual_02.jpg');
    background-position: center;
    background-size: cover;
}
.mainvisual .mainvisual__typo  {
    position: absolute;
    left: 50px;
    bottom: 100px;
    opacity: 0;
    transition: opacity 2s;
}

.mainvisual .mainvisual__typo.on{
    opacity: 1;
}

.mainvisual__typo strong{
    display: inline-block;
    position: relative;
    left:-200px;
    padding: 10px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: var(--font-regular);
    font-size: 14px;
    background-color: var(--point-color);
    border-radius: 5px;
    transition:  left 3s;
}
.mainvisual__typo h2{
    position: relative;
    left:-300px;   
    margin-bottom: 15px; 
    font-size: 50px;
    font-weight: var(--font-light);
    line-height: 65px;
    transition: left 3s;
    transition-delay: 0.2s;
}
.mainvisual__typo h2 b{
    font-weight: var(--font-bold);
    color: var(--point-color);
}
.mainvisual__typo span{   
    display: inline-block;
    position: relative;
    left:-300px;    
    font-size: 20px;
    font-weight: var(--font-regular);
    color: #333;
    line-height: 35px;
    transition: left 3s;
    transition-delay: 0.4s;
    
}

.mainvisual .mainvisual__typo.on strong{
    left:0;
}
.mainvisual .mainvisual__typo.on h2{
    left:0;
}
.mainvisual .mainvisual__typo.on span {
    left:0;
}


.mainvisual__typo span b{
    font-weight: var(--font-bold);
}
/* 서브비주얼01 */
.subvisual{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subvisual__subbanner{
    position: relative;
    width: 50%;
    height: 100%;
    background-image: url('../imgs/main_bg01.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;    
}
.subvisual__subbanner img{
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 2s;
}
.subvisual__subbanner.on img{
    opacity: 1;
    bottom: -10%;
}
.subvisual__cont{
    position: relative;
    width:50%;
    height: 100%;
}
.subvisual__typo{
    position: absolute;
    left: 46%;
    top:50%;
    transform: translate(-50%, -50%);
}
.subvisual__typo strong{
    position: relative;
    top:-50px;
    opacity: 0;
    transition: top 1s,opacity 2s;
}
.subvisual__typo.on strong{
    top: 0;
    opacity: 1;
}
.subvisual__typo strong b{
    font-weight: var(--font-minbold);
}
.subvisual__typo h2{
    position: relative;
    margin-top: var(--subvisual-margin-top);
    top: -25px;
    opacity: 0;
    transition: top 1s, opacity 2s;
    transition-delay: 0.5s;
}
.subvisual__typo.on h2{
    margin-top: var(--subvisual-margin-top);
    top: 0px;
    opacity: 1;
}


.subvisual__typo span{
    display: inline-block;
    position: relative;
    line-height: var(--subvisual-line-height);
    margin-top: var(--subvisual-margin-top);
    margin-bottom: var(--subvisual-margin-bottom);
    opacity: 0;
    transition: 2s;
    transition-delay: 1s;
}
.subvisual__typo.on span{
    opacity: 1;
}
.subvisual__button{
    display: block;
    position: relative;
    width: 95px;
    padding: 9px;
    border-bottom: 3px solid #ccc;
    font-size: 16px;
    text-align: center;
    top: -70px;
    opacity: 0;
    transition: top 2s, opacity 1.5s;
    transition-delay: 1.5s;
}
.subvisual__typo.on .subvisual__button{
    top: 0px;
    opacity: 1;
}
.subvisual__mainbutton{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    background-color: #e0ddd8;
    border-radius: 50%;
    border: 10px solid #fff;
}
.subvisual__mainbutton i{
    font-size: 24px;
    color: #fff;
}

/* 서비비주얼02 */

.subvi{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subvi__cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.subvi__typo strong{
    display: block;
    position: relative;
    text-align: right;
    top: -50px;
    opacity: 0;
    transition: top 0.5s, opacity 1s;
}
.subvi__typo strong b{
    font-weight: var(--font-minbold);
}

.subvi__typo.on strong{
    top: 0px;
    opacity: 1;
}
.subvi__typo h2{
    position: relative;
    margin-top: var(--subvisual-margin-top);
    text-align: right;    
    top: -25px;
    opacity: 0;
    transition: top 1s, opacity 1s;
    transition-delay:0.5s;
}
.subvi__typo.on h2{
    margin-top: var(--subvisual-margin-top);
    text-align: right;
    top: 0px;
    opacity: 1;    
}
.subvi__typo span{
    display: block;
    position: relative;
    margin-top: var(--subvisual-margin-top);
    margin-bottom: var(--subvisual-margin-bottom);
    text-align: right;
    line-height: var(--subvisual-line-height);
    opacity:0;
    transition: 1s;
    transition-delay: 1s;
}
.subvi__typo.on span{
    opacity:1;
}
.subvi__typo__button{
    display: block;
    position: relative;
    width: 95px;
    padding: 9px;
    margin-left: auto; 
    font-size: 16px;
    text-align: center;     
    border-bottom: 3px solid #ccc;
    top: -75px;
    opacity: 0;
    transition: top 1.5s, opacity 1.5s;
    transition-delay:1.5s;
}
.subvi__typo.on .subvi__typo__button{
    top:0px;
    opacity: 1;
}
.subvi__subbanner{
    position: relative;
    width: 50%;
    height: 100%;
    background-image: url("../imgs/main_bg02.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.subvi__subbanner img{
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 2s;
}
.subvi__subbanner.on img{
    opacity: 1;
    bottom: -10%;
}
.subvi__botton{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;    
    width: 78px;
    height: 78px;
    background-color: #b0c3d7;
    border: 10px solid #fff;    
    border-radius: 50%;
}

.subvi__botton i{
    font-size: 24px;
    color: #fff;
}
/* 슬라이더 */
.subvisual02{
    padding: 93px 0;
    color: var(--basic-font-color);
    text-align: center;
}
.subvisual02 h2{
    font-size: 50px;
    font-weight: var(--font-light);
}
.subvisual02 h2 b{
    font-weight: var(--font-regular);
}
.subvisual02 p{
    margin-top: 25px;
    margin-bottom: 25px;    
    font-size: 18px;
    font-weight: var(--font-light);
}
.subvisual02__butnav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.butnav__botton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 82px;
    margin: 0 110px;
    border: 7px solid var(--point-color);
    box-sizing: border-box;
    border-radius: 50%;
}
.butnav__style{
    font-size: 25px;
    color: var(--sub-title-color);
}
.fa-search{
    color: var(--basic-font-color)
}
.slider{
    width: 1000px;
    margin: 0 auto;
}
.slider p{
    width: 20%;
}
.slider p img{
    width: 100%;
    opacity: 0.5;
}
.slick-list{
    overflow:initial !important;
}
.slick-active img{
    opacity: 1 !important;
}

.slider__img strong{
    display: block;
    font-size: 24px;
    font-weight: var(--font-regular);
}
.slider__img span{
    display: block;
    margin-top: 13px;    
    font-size: 16.5px;
    font-weight: var(--font-regular);
    color: var(--sub-title-color);
}

/* 회사소개 베너 */
.backbanner__cont{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url('../imgs/main_bg_water_pc.jpg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.backcontent p{
    text-align: center;
    margin-bottom: 20px;
}
.backcontent__tal01{
    font-size: 50px;
    font-weight: var(--font-light);
    color: var(--basic-font-color);
}
.backcontent__tal01 b{
    font-weight: var(--font-regular);
}
.backcontent__tal02{
    margin-bottom: 15px;
    font-size: 50px;
    font-weight: var(--font-light);
    color: var(--point-color);
    line-height: 65px;
}
.backcontent__tal02 b{
    font-weight: var(--font-minbold);
}
.backcontent__tal03{
    margin-bottom: 80px;
    margin-top: 13px;    
    font-size: 16.5px;
    font-weight: var(--font-regular);
    color: var(--sub-title-color);
    line-height: var(--subvisual-line-height);
}
.backcontent__botton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;    
    width: 78px;
    height: 78px;
    background-color: #fff;
    border: 7px solid #286abd; 
    box-sizing: border-box;      
    border-radius: 50%;
}

.bottombanner{
    display: flex;
 }
.bottombanner__img{
    position: relative;
    width: 50%;
    overflow: hidden;
}
.bottombanner__img img{
    width:100%;
    transition: all 0.5s;
}
.bottombanner__img:hover img{
    transform: scale(1.1);
}

.img_typo{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}
.img_typo strong{
    display: block;
    margin-bottom: 20px;
    font-weight: var(--font-minbold);
    font-size: 24px;
    color: #fff;
    opacity: 0.7;
}
.img_typo h2{
    margin-bottom: 20px;
    font-weight: var(--font-light);
    font-size: 43px;
    color:#fff;
}
.img_typo h2 b{
    font-weight: var(--font-bold);
}
.img_typo span{
    font-weight: var(--font-light);
    font-size: 16.5;
    color: #fff;
    line-height: 20px;
    opacity: 0.7;
}

/*TOP 아이콘*/
.top__bt{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right:20px;
    bottom:20px;
    width:40px; 
    height:40px;
}

.top__bt{
    font-size:30px;
    cursor: pointer;
}

.top__bt i{
    transition: all 0.2s;
}

.top__bt:hover i{
    color:#286abd;
}

/* 풋터 */

.footer{
    position: relative;
    text-align: center;
    height: 300px;
}
.footer__cont{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.footlog{
    margin-bottom: 30px;
}
.footer__menu ul{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.footer__menu ul li{
    padding: 0 20px 0 20px;
    color: var(--sub-title-color);
}
.footer__menu_line{
    border-right: 1px solid var(--sub-title-color);
    border-left: 1px solid var(--sub-title-color);
}
.footer__info{
    font-size: 14px;
}
.footer__info ul{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.footer__info ul li{
    padding: 0 10px 0 10px;
    color: var(--sub-title-color);
}
.footer__info p{
    color: var(--sub-title-color);

}