.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    height: 85px;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    
}
.nav__wrap{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.nav__wrap li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav__wrap li:not(.last){
    margin-right:50px;
}

.header__menu{
    display: flex;
    height: 100%;
    width: 170px;
}

.header__menu div{
    display: flex;
    width: 85px;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.header__menu--search{
    background-color: #286abd;
}
.header__menu--search i{
    color: #ffffff;
}
.mainvisual{
    position: relative;

}
.mainvisual .mainvisual__cont{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image : url('../imgs/main_visual_02.jpg');
    background-position: center;
    transform: translate(-50%, -50%);
    background-size: cover;
}
.mainvisual .mainvisual__typo  {
    position: absolute;
    bottom: 200px;
    left: 20px;
}

